<div class="flex items-center justify-center min-h-screen   transition-colors">
    <div class="text-center animate-fadeIn">
        <img src="images/404.png" alt="404 Illustration" 
        class="mx-auto w-80  rounded-lg">
        <h1 class="text-4xl md:text-7xl font-extrabold text-green-700 dark:text-blue-300 mt-6">
            Looks Like You're Lost!
        </h1>
        <p class="text-xl text-gray-700 dark:text-gray-300 p-2 md:p-0 mt-2">
            We can't seem to find the page you're looking for.
        </p>
        <button [routerLink]="['/']"
           class="btn-main w-50 mt-6">
            Return Home
        </button>
    </div>
    </div>
