<div class="container max-h-screen flex ">
  <div class="hidden lg:block w-full md:w-1/2  min-h-screen bg-[#F0F4FC] shadow-[0_5px_100px_rgba(0,0,0,0.1)] rounded-tr-[100px] rounded-br-[100px]">
    <div class=" mt-20 ml-20 mr-36 mb-44 flex flex-col  max-w-[482px]">
     <div>
       <div class=" ">
          <h1 class="font-[poppins] font-bold text-[50px] leading-[150%] tracking-[0px] text-black  ">Welcome to
      <span class="text-[3.75rem]  text-[#122D9C] pb-4">Elevate</span></h1>
        </div>
      <div class="">
        <p class="text-black font-[poppins] font-normal text-[18px] leading-[40px] max-w-[482px]  pt-2">
     Quidem autem voluptatibus qui quaerat aspernatur architecto natus
        </p>
     </div>
     </div>
     <div class="  max-w-[408px] mt-12">
      <img src="/images/bro.png" alt="Student studying"  />
    </div>
    </div>
  </div>
  <div class="w-full lg:w-1/2  min-h-screen flex flex-col">
    <div>
    <app-navbar></app-navbar>
    </div>
    <div class="flex flex-col my-auto justify-center items-center lg:pr-[8.25rem]">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>




