<section class="flex flex-col items-center my-auto px-14 lg:px-0   ">
    <div class=" rounded-2xl md:w-[25.625rem]">
        <h2 class="text-[1.5488rem] font-[Inter] font-bold mb-6">Sign in</h2>
        <form class="flex flex-col max-w-[25.625rem]">
            <div class="flex flex-col items-center justify-center w-full gap-8">
                <div>
                    <input type="email" placeholder="Enter Email" class=" w-[25.625rem] h-[3.505rem] p-3 border rounded-lg focus:outline-none focus:ring-2 bg-gray-50 focus:ring-blue-500">
                </div>
                <div class="relative mb-4 w-[25.625rem] h-[3.505rem]">
                    <input type="password" placeholder="Password" class="w-full h-full p-3 border rounded-lg focus:outline-none focus:ring-2 bg-gray-50 focus:ring-blue-500">
                <span class="absolute right-4 top-4 flex items-center text-gray-400 cursor-pointer">
                    <span class="w-[1.5713rem] h-[1.6319rem]"><img src="images/icons/fluent_eye-20-filled.png"></span>
                </span>
                </div>
            </div>
            
            <a [routerLink]="['/forgot']" class="text-[#4461F2]  hover:underline mb-6 right-0 text-right font-[poppins] font-[400] text-[1rem]">Recover Password ?</a>
            <button type="submit" class="btn-main">Sign in</button>
        </form>
        <div class="flex flex-col items-center justify-center w-[25.625rem] ">
            <div class="flex items-center w-full my-8">
                <div class="flex-grow border-t border-gray-300"></div>
                <span class="px-4 text-gray-500">Or Continue with</span>
                <div class="flex-grow border-t border-gray-300"></div>
            </div>
            <ul class="flex justify-center gap-4 w-full">
                <li class="flex items-center justify-center w-[3.9375rem] h-[3.9375rem] bg-white border-[.0638rem] rounded-[.9894rem] shadow-2xl">
                    <a class="rounded-full">
                        <img src="images/icons/Logo-Google.png" class="w-[1.4731rem] h-[1.4731rem]" alt="">
                    </a>
                </li>
            
                <li class="flex items-center justify-center w-[3.9375rem] h-[3.9375rem] bg-white border-[.0638rem] rounded-[.9894rem] shadow-2xl">
                    <a class="rounded-full">
                        <img src="images/icons/Logo-twitter.png" class="w-[1.8125rem] h-[1.4731rem]" alt="">
                    </a>
                </li>
            
                <li class="flex items-center justify-center w-[3.9375rem] h-[3.9375rem] bg-white border-[.0638rem] rounded-[.9894rem] shadow-2xl">
                    <a class="rounded-full">
                        <img src="images/icons/logo-face.png" class="w-[1.4806rem] h-[1.4731rem]" alt="">
                    </a>
                </li>
            
                <li class="flex items-center justify-center w-[3.9375rem] h-[3.9375rem] bg-white border-[.0638rem] rounded-[.9894rem] shadow-2xl">
                    <a class="rounded-full">
                        <img src="images/icons/Logo-apple.png" class="w-[19.86px] h-[1.4731rem]" alt="">
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
</section>